<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szw.tools.wechatgroupandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:name=".WeChatAdnroidGroup"
        android:icon="@mipmap/wxjl_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.dialog.DialogActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".pages.qa.AddQuestionQaActivity"
            android:parentActivityName=".pages.qa.QuestionsShowAvtivity"
            android:theme="@style/AppTheme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".pages.qa.PlayQuestionActivity"
            android:parentActivityName=".pages.qa.QaActivity"
            android:theme="@style/AppTheme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".pages.qa.AddQuestionLibraryActivity"
            android:parentActivityName=".pages.qa.QaActivity"
            android:theme="@style/AppTheme.Dialog" android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".pages.qa.QaActivity" android:label="@string/action_qa_title"></activity>

        <activity android:name=".pages.qa.QaChooseLibraryActivity" android:label="@string/action_qa_chooselibrary"></activity>

        <activity android:name=".pages.qa.QaResultListActivity" android:label="@string/action_qa_result"></activity>

        <activity android:name=".pages.score.GroupScoreListActivity" android:label="@string/action_score_group"></activity>

        <activity android:name=".pages.score.ChatScoreListActivity" android:label="@string/action_score_group"></activity>

        <activity android:name=".pages.qa.QuestionsResultShowAvtivity"
            android:theme="@style/AppTheme.NoActionBar" android:label="@string/action_qa_result_des"></activity>

        <activity android:name=".pages.qa.QuestionsShowAvtivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".quicktool.QuickTollActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>

        <service android:name=".service.StartService" android:enabled="true"></service>

        <service
            android:name=".service.PhoneActivityService"
            android:label="@string/access_service_switch_name" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
    </application>

</manifest>